body {
    font-size: 100%;
    overflow-x: hidden;
}

.allcontent {
    width: 130%;
}

.odnochleny h1 {
    /*line-height: 1.2em;*/
    margin-left: -130px;
}

hr {
    margin-left: -65px;
    max-width: 110%;
}

.odnochleny h2 {
    margin-left: -30px;
}

.mnogochleny h2 {
    margin-left: -30px;
}

.theory {
    margin-left: -40px;
    max-width: 290px;
}

.mnogochleny.theory {
    margin-left: -50px;
}

.alarm {
    margin-left: -60px;
}

.problem {
    max-width: 280px;
    margin-left: -70px;
}

.menu {
    font-size: 90%;
}

.odnochleny, .mnogochleny {
    margin-left: 0px;
}

.directory {
    margin-left: 150px;
}