body {
    font-size: 100%;
}

.burger {
    line-height: 0.7em;
}

.odnochleny, .mnogochleny {
    margin-left: -50px;
}

.odnochleny h1 {
    text-align: center;
    line-height: 1.2em;
    margin-left: -30px;
}

.odnochleny h2 {
    margin-left: 40px;
}

.mnogochleny h2 {
    margin-left: 40px;
}

.menu {
    position: fixed;
    font-size: 90%;
}

.right-tr::before {
    position: absolute;
    transition: all 0.2s ease;
}

.right-tr.active-right-tr::before {
    margin-top: 14px;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

.left-tr::before {
    position: absolute;
    transition: all 0.2s ease;
}

.left-tr.active-left-tr::before {
    margin-top: -8px;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.problem {
    max-width: 300px;
    /*font-size: 100%;*/
}

.theory {
    max-width: 350px;
}

.alarm {
    text-align: left;
    width: 350px;
    font-style: italic;
}

/*.fke {
    position: absolute;
    margin-right: 100px;
}*/

.directory {
    margin-left: 200px;
    margin-top: -45px;
}