body {
    font-size: 100%;
    overflow-x: hidden;
}

.allcontent {
    width: 95%;
}

.problem {
    margin-left: -30px;
}

.menu {
    font-size: 100%;
}

.alarm {
    max-width: 300px;
}

.directory {
    margin-left: 160px;
}