.allcontent {
    max-width: 740px;
}

body {
    font-size: 110%;
}

.menu {
    z-index: 2;
    margin-top: 350px !important;
}

/*footer {
    position: relative;
    font-size: 60%;
    margin-top: 840px !important;
    padding-top: 5px;
    height: 50px;
}*/

.burger-menu {
    font-size: 120%;
    background-color: rgb(48, 46, 133);
    line-height: 2.2em;
    /*width: 150px;*/
    margin-left: -150px;
    width: 130px;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    height: 140px;
    border-radius: 0px 10px 10px 0px ;
    transition: all 0.3s ease;
}

.burger-menu.active-change-size {
    height: 175px;
    transition: all 0.2s ease;
}

.right-tr::before {
    position: absolute;
    margin-top: 8px;
    transition: all 0.2s ease;
}

.right-tr.active-right-tr::before {
    margin-top: 10px;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

.left-tr::before {
    position: absolute;
    margin-top: 12px;
    transition: all 0.2s ease;
}

.left-tr.active-left-tr::before {
    margin-top: -4px;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.no-tr::before {
    position: absolute;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.no-tr.active-no-tr::before {
    transform: scale(0);
    transition: all 0.2s ease;
}

.aboutus {
    position: absolute;
    background-position: 2% 10%;
    margin-top: 250px !important;
    font-size: 95%;
    max-width: 300px;
}

.counter {
    margin-left: 120px;
    margin-top: -23px;
}

footer {
    line-height: 0.8em;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    color: white;
    background: #1b1b1b;
    margin-top: 805px !important;
    height: 50px;
    text-align: center;
    font-size: 75%;
}