body {
    font-family: "Open Sans", sans-serif;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.fke.show {
    transform: translateX(-100px);
}

.kfor {
    align-items: center;
}

.allcontent {
    background: url("../../images/mathjpg.jpg") repeat;
    z-index: 2;
    position: relative;
    margin-top: -30px;
    padding-top: 50px;
}

.energy {
    font-size: 140%;
    margin-left: 350px;
}

.energy h2 {
    margin-left: 250px;
}

.fke {
    margin-top: -15px;
    margin-left: 15px;
    position: absolute;
    width: 5%;
}

.fkpd {
    font-size: 100%;
    position: absolute;
    margin-top: -30px;
    margin-left: 320px;
}

.fpke {
    margin-top: -17px;
    margin-left: 13px;
    position:absolute;
    width: 5%;
}

.bite {
    font-size: 140%;
    margin-left: 350px;
    margin-top: 100px;
}

.bite h1 {
    margin-left: 200px;
}

.kpd {
    margin-top: 100px;
    font-size: 140%;
    margin-left: 350px;
}

.kpd h1 {
    margin-left: 50px;
}

.problem {
    width: 1000px;
    padding: 10px;
    border: green 3px solid;
    border-radius: 5px;
}

.menu {
    user-select: none;
    margin-top: -20px;
    position: fixed;
    z-index: 10;
}

.fbite {
    margin-top: -25px; margin-left: 10px; position: absolute;
}

.hke {
    margin-left: 255px
}

ul p a {
    color: #000;
    transition: all 0.3s ease-in-out;
}

ul p a:hover, ul p a:active {
    color: #e1e1e196;
    transition: all 0.3s ease-in-out;
}

.burger {
    user-select: none;
    line-height: 0.5em;
    width: 30px;
    height: 30px;
}

.burger:hover {
    cursor: pointer;
}

span::before {
    content: "";
    display: inline-block;
    background-color: #000;
    height: 2px;
    width: 30px;
}

.right-tr::before {
    position: absolute;
    margin-top: 12px;
    transition: all 0.2s ease;
}

.right-tr.active-right-tr::before {
    margin-top: 12px;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

.left-tr::before {
    position: absolute;
    margin-top: 8px;
    transition: all 0.2s ease;
}

.left-tr.active-left-tr::before {
    margin-top: -5px;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.no-tr::before {
    position: absolute;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.no-tr.active-no-tr::before {
    transform: scale(0);
    transition: all 0.2s ease;
}

a {
    outline: none;
    color: #000;
}

ul li {
    text-align: left;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.burger-menu {
    font-size: 115%;
    background-color: rgb(94, 93, 141);
    line-height: 2.2em;
    /*width: 150px;*/
    margin-left: -150px;
    width: 130px;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    height: 150px;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.3s ease;
}

.burger-menu.active {
    opacity: 1;
    visibility: visible;
    margin-left: -10px;
    transition: all 0.2s ease;
}

.burger-menu.active-change-size {
    height: 190px;
    transition: all 0.2s ease;
}

.fontcolor {
    color: #000;
    transition: all 0.3s ease-in-out;
}

.fontcolor:hover, .fontcolor:active {
    color: #e1e1e196;
    transition: all 0.3s ease-in-out;
}

.fourth-eff {
    color: #000;
    transition: all 0.3s ease;
}

.fourth-eff.fourth-eff-change-color {
    color: #e1e1e196;
    transition: all 0.3s ease;
}

.counter {
    position: absolute;
    border-top: black 2px solid;
    border-left: black 2px solid;
    display: inline-flex;
    margin-left: 125px;
    margin-top: -23px;
    width: 5px;
    height: 5px;
    transform: rotate(-135deg);
    transition: all 0.3s ease;
}

.counter.active-counter {
    transform: rotate(45deg);
    transition: all 0.3s ease;
    border-top: #e1e1e196 2px solid;
    border-left: #e1e1e196 2px solid;
}

.support-hiden {
    background-image: url("../../images/gmail.ico");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0% 43%;
    padding-left: 20px;
    position: absolute;
    margin-top: -15px;
    opacity: 0;
    visibility: hidden;
    font-size: 80%;
    font-weight: bold;
    transition: all 0.2s ease;
}

.support-hiden.active-support {
    margin-top: 1px;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.support-hiden a::after {
    position: absolute;
    content: "";
    margin-top: 25px;
    margin-left: -109px;
    max-width: 108px;
    border-bottom: rgb(37, 179, 37) 2px solid;
    transition: all 0.3s ease;
}

#closenone {
    height: 958;
    width: 1475;
}

.overlay {
    background-color: rgba(157, 155, 155, 0.856);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}

.directory {
    position: fixed;
    margin-left: 1500px;
    margin-top: -20px;
    /*background-color: rgb(150, 23, 23);*/
    background-color: green;
    height: 60px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s ease;
    z-index: 10;
}

.directory a {
    color: #000;
    user-select: none;
    text-decoration: underline;
}

.directory a:hover {
    color: #e1e1e196;
    transition: all 0.1s ease;
}

.arrow {
    position: absolute;
    border-top: black 2px solid;
    border-left: black 2px solid;
    display: inline-flex;
    margin-left: 70px;
    margin-top: -32px;
    width: 5px;
    height: 5px;
    transform: rotate(-135deg);
    transition: all 0.3s ease;
}

.arrow.active-counter {
    transform: rotate(45deg);
    transition: all 0.2s ease;
    border-top: #e1e1e196 2px solid;
    border-left: #e1e1e196 2px solid;
}

.directory.dirsize {
    height: 250px;
}

.directory h3 {
    user-select: none;
    cursor: pointer;
}

.list {
    opacity: 0;
    visibility: hidden;
    margin-top: -70px;
    margin-left: -5px;
    position: absolute;
    text-decoration: solid;
    line-height: 1.6em;
    transition: all 0.2s ease;
}

.list.listsize {
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
}